* {
  font-family: sans-serif;
}
#container {
  width: 900px;
  margin: 0 auto;
}
#typing-pad {
  padding: 20px;
  font-size: 20px;
  outline: none;
}
#playerType {
  width: 410px;
  margin: 0 auto;
}
#reset {
  color: white;
  padding: 5px;
  background-color: black;
}
#counter {
  display: none;
  padding: 10px;
  border: 1px solid #9d9d9d;
  margin: 0 auto;
  font-size: 25px;
}
#name {
  font-size: 50px;
  margin: 50px auto;
}
