* {
  margin: 0;
  padding: 0;
  background-color: orange;
  font-family: 'Londrina Solid', cursive;
}
.container {
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  background-image: url("cat-attacking-fingers/1.png");
  background-position: center;
  background-repeat: no-repeat;
}
.name {
  font-size: 30px;
  text-align: center;
  color: black;
}
.instructions {
  text-align: center;
}
.scoreRack {
  position: relative;
  font-size: 30px;
  color: black;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.timeRack {
  font-size: 30px;
  color: black;
  float: right;
  text-align: center;
  text-transform: uppercase;
}
.word {
  font-size: 30px;
  color: black;
  letter-spacing: 1px;
  display: inline;
}
.wordRack {
  width: 200px;
  position: absolute;
  left: 130px;
  bottom: 230px;
}
.bg {
  background-color: green;
}
#startButton {
  border: none;
  background-color: green;
  box-shadow: 0px 0px 0px 0px #CE4646;
  outline: none;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 30px;
  text-decoration: none;
  margin: 30px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 130px;
  bottom: 200px;
}
